@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
}

a,
.green {
  text-decoration: none;
  color: rgb(11, 12, 12);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 45%, 98%, 0.904);
  }
}
